@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{margin:0; padding:0}
:root {
    --primary-black : hsl(0, 0%, 8%);
    --grey : hsl(0, 0%, 41%);
    --almost-white: hsl(0, 0%, 98%);
}
body {
    background-image: url(./images/stucco-1920x1080.png);
    /* font:18px; */
    font-family: 'Epilogue', sans-serif;
    overflow-y: hidden;
}
ul li {
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    padding:1rem;
}
.header_logo--img img{
    width: 5rem;
    height: 1.875rem;
}
.header_properties,.header_register {
    display: none;
}
.header_menu img {
    width: 2rem;
    height: 1.1875rem;
}
.hero {
    margin:1.5rem 0;
    width: 100vw;
}
.hero--mobile {
    width:100vw;
}
.hero--desktop {
    display: none;
}
.main_info {
    display: grid;
    place-items: center;
    margin-top:2rem;
    padding:0 .5rem;
}
.main_info_title--lg {
    display: none;
}
.main_info_title--sm {
    display: block;
    font-size: 2.3rem;
    font-weight: 700;
    /* color: var(--primary-black); */
}
.main_info p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--grey);
    margin-top:.5rem;
    font-weight: 500;
}
.main_info button {
    background-color: var(--primary-black);
    color: var(--almost-white);
    border: 0px solid;
    border-radius: .6rem;;
    padding: .8125rem 1.125rem;
    margin-top:2rem;
    font-weight: 700;
    font-size: 1.1rem;;
}
.main--logos {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;;
    margin-bottom: 3rem;;
}
.main--logos img {
    width: 4.375rem;
    height: 1.55rem;
    padding:.5rem;
}

.sidebar {
    /* display: none; */
    display: flex;
    flex-direction: column;
    background-image: url(./images/stucco-1920x1080.png);
    position: fixed;
    top:0;
    height:100vh;
    width:100%;
    z-index: 6;
    /* padding:1rem; */
    /* border:1px solid red; */
}
.sidebar__details {
    margin-top:30%;
    text-align: center;
    /* border: 1px solid blue;; */
    display: grid;
    place-items: center;;
}
.sidebar__details ul {
    list-style-type: none;
}

.sidebar__close {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;    
    height: 1.0625rem;
    padding: 1rem;;
}
.sidebar__close img {
    width: 1.0625rem;
}

.show {
    display: block;
}
.hidden {
    display: none;
}

.sidebar__details--list {
    margin: auto 0;
}
.sidebar__details--list>li {
    font-size: 2.2rem;;
    padding-top:1.2rem;
}
.nested__list {
    align-items: right;
    margin-left:3rem;
    margin-top:.5rem;
}
.nested__list li {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 1rem;;
    padding:.4rem 0;
}
.nested__list img {
    padding-right: .5rem;
}
.arrow {
    transform: scale(1.5);
}



@media screen and (min-width: 768px) {
    header {
        padding:2rem;
    }
    .header_logo--img img {
        width:7.5rem;
        height:2.875rem;
    }
    .header_menu img {
        width:4rem;
        height:2.1875rem;
    }
    .main_info_title--sm {
        margin-top:2rem;
        font-size: 6rem;

    }
    .main_info p {
        font-size: 1.855rem;
        line-height: 3.5rem;
        margin-top:2rem;
        padding: 0 3rem;
    }
    .main_info button { 
        font-size: 2.5rem;
        padding:1.125rem 1.85rem;
        margin-top:3rem;
    }
    .main--logos {
        margin-top:6rem;
    }
    .main--logos img {
        width: 9.375rem;
        height: 2.8125rem;
    }
    .sidebar__details--list>li {
        font-size: 4.2rem;;
    }
    .nested__list li {
        font-size: 2.5rem;
    }
    .nested__list li {
        padding:.8rem 0;
    }
    .nested__list img {
        transform: scale(2);
    }
    .arrow {
        transform: scale(2.8);
    }
    .sidebar__close {
        padding:4rem;
    }
    .sidebar__close img {
        transform: scale(3);
    }
    .sidebar__details--list>li {
        padding-top: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_properties {
        display: flex;
        margin-left:2rem;
        /* outline: 2px solid blue; */

    }
    .header_properties--list, .header_register ul {
        display: flex;
        list-style-type: none;
    }
    .header_properties--list li {
        padding-left:1rem;
    }
    .header_logo--img img{
        width: 5rem;
        height: 1.875rem;
    }
    .header_menu {
        display: none;
    }
    .header_register {
        color: var(--grey);
        display: flex;
        align-items: center;
        /* outline: 2px solid blue; */

    }
    .header_register ul li {
        padding-right:1rem;
        font-size: 1rem;
        cursor:pointer;
    }
    .header_register ul li:nth-child(2) {
        color:var(--grey);
        padding:.5rem 1rem;
        font-size: 1rem;
        border-radius: 1rem;;
        border: 2px solid var(--grey);
    
        cursor:pointer;
    }

    .header_register ul li:hover {
        color:var(--primary-black);
    }
    .header_register ul li:nth-child(2):hover {
        border: 2px solid var(--grey);
        color:var(--primary-black)
    }

    .header_nested__list {
        position: absolute;
        list-style-type: none;
        background-color: var(--almost-white);
        font-size: .9rem;
        border-radius: .5rem;;
        padding:.5rem;
        margin-top:.5rem;
        -webkit-box-shadow: -1px 15px 69px -19px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 15px 69px -19px rgba(0,0,0,0.75);
        box-shadow: -1px 15px 69px -19px rgba(0,0,0,0.75);
    }
    
    .nested_left {
        position: absolute;
        left:6rem;
        z-index: 2;
    }
    .header_nested__list li {
        padding-top:.5rem;
    }

    main {
        display: flex;
        padding:0rem 6rem;
        justify-content: space-between;
        /* outline: 2px solid purple; */
        height: 100vh;
    }
    .hero {
        display: grid;
        place-items: center;
        order:2;
        /* border:2px solid hsl(0, 0%, 41%); */
        position: relative;
        bottom:9rem;
        height:100%;
    }
    .hero--mobile {
        display: none;
    }
    .hero--desktop {
        display: block;
        width:40vw;
        transform: scale(.75);
        /* outline: 2px solid blue; */
    }
   
    main>section:nth-child(2) {
        /* outline: 2px solid green; */
        position: relative;
        margin-bottom: 0rem;
    }
    .main_info {
        width:40vw;
        display: grid;
        place-items: left;
        order: 1;
        z-index: 1;
        margin-top: 0rem;
        /* border:1px solid blue; */
    }
    .main_info_title--sm {
        display: none;
    }
    .main_info_title--lg {
        display: block;
        font-size: 4rem;
    }
    .main_info p {
        font-size: 1rem;
        line-height: 1.5625rem;
        width:30vw;
        text-align: left;
        margin-top:1rem;
        padding: 0 3rem;
        position: relative;
        right:4rem;
    }
    .main_info button {
        padding: .7125rem 1.125rem;
        margin-top:2rem;
        font-size: 1.1rem;;
        position: relative;
        right:4rem;
        cursor: pointer;
    }
    .main_info button:hover {
        background-color: var(--almost-white);
        border:2px solid var(--primary-black);
        color: black;
    }
    .main--logos img {
        width: 3.4rem;
        height: 1.2rem;
        padding:1.5rem;
    }
    .header_menu img {
        width: 2rem;
        height: 1.1875rem;
    }
    .main--logos {
        /* outline:1px solid red;  */
        margin-top: 3rem;
        margin-right:3rem;
        margin-bottom: 0rem;
    }

    .main_info_title--lg {
        width: 100%;
        height: 25vh;
        position: relative;
        overflow: hidden;
        /* outline:2px solid blue; */
    }
    .main_info_title--lg span{
          position: absolute;
          font-size: 3rem;
          line-height: 4.2rem;
    }
    .main_info_title--lg span:nth-child(2) {
        top:3.5rem;
    }
} 

